{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Recipe</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-brand ml-1">Individual Recipe Page</div>
                <div class="nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/recipes/">Recipes</a>
                    <a class="nav-link active" href="#">User Profile</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <h1>Enter Recipe Page</h1>
        <form action="{% url 'recipes:newRecipe' %}" method="post">
            {% csrf_token %}

            <div class="form-group p-3">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="title" class="h4">Title:</label>
                <input type="text" name="title">
                <br>
                <label for="dietaryRestrictions" class="h4">Dietary Restrictions:</label>
                <input type="text" name="dietaryRestrictions">
                <br>
                <label for="time" class="h4">Time (minutes):</label>
                <input type="text" name="time">
                <br>
                <label for="servingSize" class="h4">Serving Size:</label>
                <input type="text" name="servingSize">
                <br>
                <label for="difficultyRating" class="h4">Difficulty Rating:</label>
                <input type="text" name="difficultyRating">
                <br>
                <!-- <label for="ingredientsList" class="h4">Ingredient List (separate each ingredient with a comma):</label>
                <input type="text" name="ingredientsList">
                <br> -->

                <label for="ingredientsList" class="h4">Ingredient List:</label>
                <br>
                <!-- <span class="text-gray">Example: 1 cup flour,2 cups milk</span> -->

                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Ingredient Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="ingredients_tb">
                        <tr>
                            <td><input type="text" name="ingredientQuant"></td>
                            <td><input type="text" name="ingredientUnit"></td>
                            <td><input type="text" name="ingredientName"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="addIngredient()">Add ingredient</button>

                <br>
                <br>
                <label for="directionsList" class="h4">Directions:</label>
                <div id="directions_list">
                    <input type="text" name="direction">
                    <br><br>
                </div>
                <button type="button" class="btn btn-primary" onclick="addDirection()">Add direction</button>
                
                <br>
                <!-- <span class="text-gray">Example: Pour flour in mixing bowl,Pour milk in mixing bowl,Stir</span>
                <br> -->

                
                
                <label for="blurb" class="h4">Blurb:</label>
                <input type="text" name="blurb">
                

            </div>
            <input type="submit" value="Create Recipe">
        </form>
    </div>

    <script>
        var numIngredients = 1;
        function addIngredient() {
            let ingredients_tb = document.getElementById("ingredients_tb");
            let row = ingredients_tb.insertRow(); // default adds to end

            // quantity
            let input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientQuant";
            row.insertCell(0).appendChild(input);

            // unit
            input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientUnit";
            row.insertCell(1).appendChild(input);

            // name
            input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientName";
            row.insertCell(2).appendChild(input);

            // remove button
            let btn = document.createElement("button");
            btn.innerHTML = "Remove"
            btn.type = "button";
            btn.classList = "btn btn-danger";
            // btn.onclick = removeIngredient(++numIngredients);
            btn.onclick = function() {
                document.getElementById("ingredients_tb").deleteRow(--numIngredients); // zero indexed
            }
            row.insertCell(3).appendChild(btn);

            numIngredients++;
        }

        // function removeIngredient(index) {
        //     document.getElementById("ingredients_tb").deleteRow(index-1); // zero indexed
        // }

        function addDirection() {
            let directions_list = document.getElementById("directions_list");
            let input = document.createElement("input");
            input.type = "text";
            input.name = "direction";
            directions_list.appendChild(input);

            directions_list.appendChild(document.createElement("br"));
            directions_list.appendChild(document.createElement("br"));
        }
        // https://www.w3schools.com/jsref/met_table_insertrow.asp
    </script>
</body>

</html>