<!-- /***************************************************************************************
*  REFERENCES
*  Title: Django File Uploads: How to Upload Images and Files
*  Author: JAYSHA
*  Publication Date: 7/14/2021
*  URL: https://ordinarycoders.com/blog/article/django-file-image-uploads
***************************************************************************************/ -->

{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% load recipe_tags %}


<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Enter Recipe</title>
    <link rel="icon" href="{% static 'recipes/wom_logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap" rel="stylesheet">

</head>
<style>
    h4 {
        font-family: 'Encode Sans', sans-serif;
    }

    .div1 {
        margin: auto;
        width: 70%;
        border: 2px solid gray;
        padding: 10px;
        text-align: left;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    h1 {
        color: #213037;
        margin-left: 40px;
        font-family: "Georgia";
        font-weight: bold;
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        text-transform: uppercase;
    }
</style>

<body>
    {% include "recipes/navbar.html" %}
    <div class="div1">
        <h1>Recipe Curation</h1>
        <h2>
            <a href="/recipes/{{ oldrecipe.pk }}" class="text-decoration-none mx-3 px-3" style="color: darkgray">Forked from: {{ oldrecipe.title }}</a>
        </h2>
        <form action="/recipes/new-recipe/{{ user.pk }}/1/{{ oldrecipe.pk }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group p-3">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <div class="m-3">
                    <div class="row mb-1">
                        <div class="col-auto" style="font-size: 15px;">
                            All fields marked with
                            <span style="color: rgb(217, 4, 4);">*</span>
                            are required.
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-auto">
                            <label for="title" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Title:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" name="title" value="{{ oldrecipe.title }}" placeholder="Ex. Greg's Miso Soup" required pattern=".*\S+.*">
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <div class="col-auto">
                            <label for="blurb" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Description:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" name="blurb" value="{{ oldrecipe.blurb }}" placeholder="Ex. This is my go-to comfort food. My Nana loves it, too!" required pattern=".*\S+.*">
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <div class="col-auto">
                            <label for="dietaryRestrictions" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Dietary Restrictions:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" name="dietaryRestrictions" value="{{ oldrecipe.dietaryRestrictions }}" placeholder="Ex: pescatarian" required pattern=".*\S+.*">
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <div class="col-auto">
                            <label for="time" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Time (minutes):</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="time" value="{{ oldrecipe.time }}" placeholder="Ex: 35" required min="0">
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <div class="col-auto">
                            <label for="servingSize" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Serving Size:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="servingSize" value="{{ oldrecipe.servingSize }}" placeholder="Ex: 4" required min="1">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-auto">
                            <label for="difficultyRating" class="form-control-plaintext h6"><span style="color: rgb(217, 4, 4);">*</span>Difficulty Rating:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" name="difficultyRating" value="{{ oldrecipe.difficultyRating }}" placeholder="Between 1-10" required min='1' max="10">
                        </div>
                    </div>

                <label for="ingredientsList" class="h4"><span style="color: rgb(217, 4, 4);">*</span>Ingredient List:</label>
                <br>
                <table class="table table-default table-sm table-borderless">
                    <thead>
                        <tr class="table-light d-flex">
                            <th scope="col" class="col-3" ><span style="color: rgb(217, 4, 4);">*</span>Quantity</th>
                            <th scope="col" class="col-3">Unit</th>
                            <th scope="col" class="col-4"><span style="color: rgb(217, 4, 4);">*</span>Ingredient Name</th>
                            <th scope="col" class="col-2"></th>
                        </tr>
                    </thead>
                    <tbody id="ingredients_tb">
                        {% if oldrecipe.ingredientsList %}
                        {% for ingredient in oldrecipe.ingredientsList|split:"," %}
                        <tr class="d-flex">
                            <td class="col-3"><input type="number" class="w-100 form-control" name="ingredientQuant" placeholder="Ex. 2.5 (decimal)" value="{% index value=ingredient number=0 %}" required step="0.001"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" name="ingredientUnit" placeholder="Ex. grams (optional)" value="{% index value=ingredient number=1 %}"></td>
                            <td class="col-4"><input type="text" class="w-100 form-control" name="ingredientName" placeholder="Ex. silken tofu" value="{% indexName value=ingredient number=2 %}" required pattern=".*\S+.*"></td>
                            <td class="col-2"></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" onclick="addIngredient()">Add ingredient</button>

                <br>
                <br>
                <label for="directionsList" class="h4"><span style="color: rgb(217, 4, 4);">*</span>Directions:</label>
                <br>
                <div class="row">
                    <table class="table table-default table-borderless">
                        <tbody id="directions_tb">
                            {% for direction in oldrecipe.directionsList|split:"`" %}
                            <tr class="d-flex">
                                <td class="col-10"><textarea class="form-control" type="text" name="direction" rows="4" cols="50" placeholder="Ex. Slice the tofu into 1 inch cubes" required>{{ direction }}</textarea></td>
                                <td class="col-2"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-4"></div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="addDirection()">Add direction</button>

                <br>

                <br>

                <label for="recipe_img" class="h4">Upload recipe images:</label>
                <div class="row">
                    <div class="col">
                        <table class="table table-default table-borderless">
                            <thead>
                                <tr class="table-light">
                                    <!-- <th scope="col">Upload</th>
                                    <th scope="col"></th> -->
                                </tr>
                            </thead>
                            <tbody id="img_tb">
                                <tr>
                                    <td>
                                        <div>
                                            <input class="form-control" type="file" id="recipe_img" name="recipe_img" accept="image/png, image/jpeg"> 
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4"></div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="addImage()">Add image</button>
                <!-- Citation for <Django File Uploads: How to Upload Images and Files> at top of file -->
            </div>
            <input class="btn btn-success mx-3" type="submit" value="Create Recipe">
        </form>
    </div>

    <script>
        // two differences:
        // update ingredients/directionsIndex to the true value (probably not 1)
        // add remove buttons with correct ingredients/directionsIndex
            
        var ingredientsIndex = 0; // 1 instruction required on default which is index 0; this is index of next instruction
        var directionsIndex = 0; // 1 direction required on default which is index 0; this is index of next direction
        var imgIndex = 1;

        const ingredients_tb = document.getElementById("ingredients_tb");  
        for (const row of ingredients_tb.rows) {  
            row.id = ingredientsIndex
            // remove button
            if(ingredientsIndex > 0) {
                let btn = document.createElement("button");
                btn.innerHTML = "Remove"
                btn.type = "button";
                btn.classList = "btn btn-danger ingredients-remove-btn";
                btn.name = ingredientsIndex;
                btn.onclick = function () { // remove this row
                    ingredientsIndex--;
                    ingredients_tb.deleteRow(this.name);

                    removeButtons = document.getElementsByClassName("ingredients-remove-btn");
                    for (var i = 0; i < removeButtons.length; i++)
                        removeButtons[i].setAttribute("name", i + 1);
                }
                row.insertCell(3).appendChild(btn);
            }
            else {
                row.insertCell(3)
            }

            console.log("row" + ingredientsIndex);
            ingredientsIndex ++;
        }

        const directions_tb = document.getElementById("directions_tb");
        for (const row of directions_tb.rows) {  
            row.id = directionsIndex
            // remove button
            if(directionsIndex > 0) {
                let btn = document.createElement("button");
                btn.innerHTML = "Remove"
                btn.type = "button";
                btn.classList = "btn btn-danger directions-remove-btn";
                btn.name = directionsIndex;
                btn.onclick = function () { // remove this row
                    directionsIndex--;
                    directions_tb.deleteRow(this.name);

                    removeButtons = document.getElementsByClassName("directions-remove-btn");
                    for (var i = 0; i < removeButtons.length; i++)
                        removeButtons[i].setAttribute("name", i + 1);
                }
                row.insertCell(1).appendChild(btn);
            }
            else {
                row.insertCell(1)
            }

            console.log("row" + directionsIndex);
            directionsIndex ++;
        }

        function addIngredient() {
            // let ingredients_tb = document.getElementById("ingredients_tb");
            let row = ingredients_tb.insertRow(); // default adds to end
            row.id = ingredientsIndex;
            row.classList = "d-flex";

            // quantity
            let input = document.createElement("input");
            input.type = "number";
            input.name = "ingredientQuant";
            input.step = "0.001";
            input.required = "True";
            input.placeholder = "(decimal)"
            input.classList = "w-100 form-control";
            row.insertCell(0).appendChild(input);
            row.cells[0].classList = "col-3";

            // unit
            input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientUnit";
            input.placeholder = "(optional)"
            input.classList = "w-100 form-control";
            row.insertCell(1).appendChild(input);
            row.cells[1].classList = "col-3";

            // name
            input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientName";
            input.required = "True";
            input.placeholder = "(ingredient name)"
            input.classList = "w-100 form-control";
            row.insertCell(2).appendChild(input);
            row.cells[2].classList = "col-4";

            // remove button
            let btn = document.createElement("button");
            btn.innerHTML = "Remove"
            btn.type = "button";
            btn.classList = "btn btn-danger ingredients-remove-btn";
            btn.name = ingredientsIndex;
            btn.onclick = function () { // remove this row
                ingredientsIndex--;
                ingredients_tb.deleteRow(this.name);

                removeButtons = document.getElementsByClassName("ingredients-remove-btn");
                for (var i = 0; i < removeButtons.length; i++)
                    removeButtons[i].setAttribute("name", i + 1);
            }
            row.insertCell(3).appendChild(btn);

            ingredientsIndex++;
        }

        function addDirection() {
            // let directions_tb = document.getElementById("directions_tb");
            let row = directions_tb.insertRow(); // default adds to end
            row.id = directionsIndex;
            row.classList = "d-flex";
            // direction text
            // let input = document.createElement("input");
            // input.type = "text";
            // input.name = "direction";
            // row.insertCell(0).appendChild(input);

            let input = document.createElement("textarea");
            input.type = "text";
            input.name = "direction";
            input.rows = "4";
            input.cols = "50";
            input.classList = "form-control"
            input.placeholder = "Next..."
            row.insertCell(0).appendChild(input);
            row.cells[0].classList = "col-10";
            // <td><textarea type="text" name="direction" rows="3" cols="50"></textarea></td>

            // remove button
            let btn = document.createElement("button");
            btn.innerHTML = "Remove"
            btn.type = "button";
            btn.classList = "btn btn-danger directions-remove-btn";
            btn.name = directionsIndex;
            btn.onclick = function () { // remove this row
                directionsIndex--;
                directions_tb.deleteRow(this.name);

                removeButtons = document.getElementsByClassName("directions-remove-btn");
                for (var i = 0; i < removeButtons.length; i++)
                    removeButtons[i].setAttribute("name", i + 1);
            }
            row.insertCell(1).appendChild(btn);

            directionsIndex++;
        }
        // https://www.w3schools.com/jsref/met_table_insertrow.asp

        function addImage() {
            let img_tb = document.getElementById("img_tb");
            let row = img_tb.insertRow(); // default adds to end
            row.id = imgIndex;

            // upload button
            // <td><input type="file" id="recipe_img" name="recipe_img" accept="image/png, image/jpeg"> </td>
            let input = document.createElement("input");
            input.type = "file";
            input.id = "recipe_img";
            input.name = "recipe_img";
            input.accept = "image/png, image/jpeg";
            input.classList = "form-control";
            row.insertCell(0).appendChild(input);

            // remove button
            let btn = document.createElement("button");
            btn.innerHTML = "Remove"
            btn.type = "button";
            btn.classList = "btn btn-danger img-remove-btn";
            btn.name = imgIndex;
            btn.onclick = function () { // remove this row
                imgIndex--;
                img_tb.deleteRow(this.name);

                removeButtons = document.getElementsByClassName("img-remove-btn");
                for (var i = 0; i < removeButtons.length; i++)
                    removeButtons[i].setAttribute("name", i + 1);
            }
            row.insertCell(1).appendChild(btn);

            imgIndex++;
        }
    </script>
</body>

</html>