{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Home</title>
</head>

<body>
    {% include "recipes/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
            <p><b>Yo {{ user.username }}, you're logged into to our website!</b></p>
            <p><a href="{% provider_login_url 'google' %}">Manage Account</a></p>
            
            {% else %}
            <p><b>HEY!</b> You're not logged in... but you should because this website is really cool.</p>
            <p><a href="{% provider_login_url 'google' %}">Login With Google</a></p>
            {% endif %}
        </div>
        <div class="row">
            <span class="ml-1">add recipe gallery here</span>
            <p><a href="/recipes/enter-recipe/">Make a new recipe</a></p>
        </div>
    </div>
</body>

</html>