{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <head>
        <meta>
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand ml-1">Word of Mouth Home Page</div>
                    <div class="nav">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="/user/">User Profile</a>
                        {% if user.is_authenticated %}
                            <span class="navbar-text">Logged in as {{user.username}}</span>
                        {% else %}    
                            <a class="nav-link" href="{% provider_login_url 'google' %}">Login With Google</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                {% if user.is_authenticated %}
                    <p><b>Yo {{ user.username }}, you're logged into to our website!</b></p>
                    <a href="{% provider_login_url 'google' %}">Manage Account</a>
                {% else %}    
                    <p><b>HEY!</b> You're not logged in... but you should because this website is really cool.</p>
                    <a href="{% provider_login_url 'google' %}">Login With Google</a>
                {% endif %}
            </div>
            <div class="row">
                <span class="ml-1">add recipe gallery here</span>
            </div>
        </div>
    </body>
</html>