{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Recipes</title>
</head>

<body>
    {% include "recipes/navbar.html" %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group p-3">
            <label for="time" class="h4">Time (minutes):</label>
            <input type="number" name="time" min="1">
            <br>
            <label for="servingSize" class="h4">Serving Size:</label>
            <input type="number" name="servingSize" min="1">
            <br>
            <label for="difficultyRating" class="h4">Difficulty Rating:</label>
            <input type="number" name="difficultyRating" min="1" max="10">
            <br>
        </div>
        <input type="submit" value="Filter">
    </form>
    <div class="container-fluid">
        <h1>Recipe Gallery Page</h1>
        {% include "recipes/recipeGrid.html" %}
    </div>
</body>
</html>