{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Recipes</title>
</head>

<body>
    {% include "recipes/navbar.html" %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group p-3">
            <label for="time" class="h4">Time (minutes):</label>
            <input type="number" name="time" min="1">
            <br>
            <label for="servingSize" class="h4">Serving Size:</label>
            <input type="number" name="servingSize" min="1">
            <br>
            <label for="difficultyRating" class="h4">Difficulty Rating:</label>
            <input type="number" name="difficultyRating" min="1" max="10">
            <br>
        </div>
        <input type="submit" value="Filter">
    </form>
    <div class="container-fluid">
        <h1>Recipe Gallery Page</h1>
        <div class="container-fluid">
        <div class="row justify-content-center">
            {% if latest_recipe_list %}
            {% for recipe in latest_recipe_list %}
            <!-- Recipe.objects.get(pk=9).images.all()[0].image.url -->
            <div class="col-3 border m-2 justify-content-center">
                <h4 class="font-weight-bold mt-1">
                    <a href="{% url 'recipes:recipe' recipe.id %}" class="text-decoration-none">
                        {{ recipe.title }}
                        {% if recipe.images.all|length %}
                        <img src="{{ recipe.images.all.0.image.url }}" width="300" height="300" class="image-square mb-3 mt-1">
                        <!-- https://stackoverflow.com/questions/4286461/django-templates-first-element-of-a-list -->
                        {% else %}
                        <div class="image-square no-image justify-content-center mb-3 mt-1">
                            <p>No Image Available</p>
                        </div>
                        {% endif %}
                    </a>
                </h4>

            </div>
            {% endfor %}
            {% else %}
            <p>No recipes are available.</p>
            {% endif %}
        </div>
    </div>
    </div>
</body>
</html>