{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Recipes</title>
</head>

<body>
    {% include "recipes/navbar.html" %}
    <div class="container-fluid">
        <h1>Recipe Gallery Page</h1>
        <div class="row justify-content-center">
            {% if latest_recipe_list %}
            {% for recipe in latest_recipe_list %}
            <!-- Recipe.objects.get(pk=9).images.all()[0].image.url -->
            <div class="col-3 border m-2 justify-content-center">
                <h4 class="font-weight-bold mt-1"><a href="{% url 'recipes:recipe' recipe.id %}" class="text-decoration-none">{{ recipe.title }}</a></h4>
                {% if recipe.images.all|length %}
                <img src="{{ recipe.images.all.0.image.url }}" width="300" height="300" class="image-square mb-3">
                <!-- https://stackoverflow.com/questions/4286461/django-templates-first-element-of-a-list -->
                {% else %}
                <div class="image-square no-image justify-content-center mb-3">
                    <p>No Image Available</p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>No recipes are available.</p>
            {% endif %}
        </div>
    </div>
</body>
<style>
    .image-square {
        margin: auto;
        display: flex;
    }
    .no-image {
        width: 300px;
        height: 300px;
        background-color: gainsboro;
    }
    .no-image p {
        align-items: center;
        display: flex;
    }
</style>

</html>