{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        <meta>
        <title>Recipe</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand ml-1">Individual Recipe Page</div>
                    <div class="nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/recipes/">Recipes</a>
                        <a class="nav-link active" href="#">User Profile</a>
                    </div>
                </div>
            </nav>
        </header>
        <h1>Individual Recipe Page</h1>
    </body>
</html>