<!-- /***************************************************************************************
*  REFERENCES
*  Title: How TO - Tabs
*  URL: https://www.w3schools.com/howto/howto_js_tabs.asp

*  Title: Django - How to use custom template tag with 'if' and 'else' checks? [duplicate]
*  Author: MHS, Priyank Patel
*  Publication Date: 3/21/2014
*  URL: https://stackoverflow.com/questions/22556052/django-how-to-use-custom-template-tag-with-if-and-else-checks
***************************************************************************************/ -->

{% load socialaccount %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% load recipe_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>Profile</title>
    <link rel="icon" href="{% static 'recipes/wom_logo.png' %}">
</head>

<body>
    <div class="bg-image trans" 
    style="background-image: url('{% static 'recipes/homeBack.jpg'%}');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70%;">
        {% include "recipes/navbar.html" %}
        <div class="container-fluid div1">
            <div class="row">
                {% if request.user.is_authenticated and profile.pk == user.pk %}
                    <div class = "h1">
                        My Profile Page
                    </div>
                    <div class="h6">
                        {{ profile.name }} | {{ profile.email }}
                    </div>
                {% else %}
                    <h1>{{ profile.name }}'s Profile Page</h1>
                {% endif %}
            </div>
            <!-- Cannot follow yourself (follow button invisible) -->
            {% if request.user.is_authenticated and not profile.pk == user.pk %}
            <div class="row m-1">
                {% if request.user.is_authenticated %}
                {% follow user.pk profile.pk as follow_flag %}
                {% if follow_flag %}
                    <form action="/user/unfollow-user/{{ profile.pk }}/{{ user.pk }}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-secondary btn-follow" value="Unfollow">
                    </form>
                {% else %}
                    <form action="/user/follow-user/{{ profile.pk }}/{{ user.pk }}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-follow" value="Follow">
                    </form>
                {% endif %}
                <!-- Citation for <Django - How to use custom template tag with 'if' and 'else' checks? [duplicate]> at top of page -->
                {% endif %}
            </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-4 tabs">
                    <div class="row m-1">
                        <button class="tablinks{% if tab == 'basic' or tab == NULL %} active{% endif %}" onclick="openTab(event, 'basic')">Basic Information</button>
                    </div>
                    <div class="row m-1">
                        {% if request.user.is_authenticated and profile.pk == user.pk %}
                        <button class="tablinks{% if tab == 'create' %} active{% endif %}" onclick="openTab(event, 'create')">My Recipes</button>
                        {% else %}
                        <button class="tablinks{% if tab == 'create' %} active{% endif %}" onclick="openTab(event, 'create')">Created Recipes</button>
                        {% endif %}
                    </div>
                    <div class="row m-1">
                        <button class="tablinks{% if tab == 'favorite' %} active{% endif %}" onclick="openTab(event, 'favorite')">Favorite Recipes</button>
                    </div>
                    <div class="row m-1">
                        <button class="tablinks{% if tab == 'following' %} active{% endif %}" onclick="openTab(event, 'following')">Following</button>
                    </div>
                    <div class="row m-1">
                        <button class="tablinks{% if tab == 'followers' %} active{% endif %}" onclick="openTab(event, 'followers')">Followers</button>
                    </div>
                </div>
                <div class="col-8">
                    <h2 id="tab-title">{{tab}}</h2>
                    <div id="basic" class="tabcontent mt-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <!-- Can change name if this user is self -->
                                        {% if request.user.is_authenticated and profile.pk == user.pk %}
                                        <form action="/user/update/name/{{ profile.pk }}" method="post">
                                            {% csrf_token %}
                                            Name:
                                            <input type="text" value="{{ profile.name }}" name="name">
                                            <input type="submit" class="btn btn-info text-white" value="Rename">
                                        </form>
                                        {% else %}
                                        <p>Name: {{ profile.name }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Email: {{ profile.email }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Can change cooking experience if this user is self -->
                                        {% if request.user.is_authenticated and profile.pk == user.pk %}
                                        <form action="/user/update/cook_exp/{{ profile.pk }}" method="post">
                                            {% csrf_token %}
                                            Cooking experience:
                                            <input type="number" max="10" min="1" value="{{ profile.cooking_experience }}" name="cook_exp">
                                            <input type="submit" class="btn btn-info text-white" value="Update">
                                            <br><span class="text-muted initialism">Low(1) - High(10)</span>
                                            
                                        </form>
                                        {% else %}
                                        <p>Cooking experience (Low(1) - High(10)): {{ profile.cooking_experience }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div id="create" class="tabcontent">
                        {% if request.user.is_authenticated %}
                        {% allDeleted profile.pk "create" as allCreatedDeleted %}
                        <!-- current fix to allDeleted should work but might be better to make if else for profile.create.all, then have separate if else for allCreatedDeleted -->
                        <!-- {% allDeleted profile.pk "create" %}
                        {{ allCreatedDeleted }}
                        {{ profile.create.all }} -->
                        <!-- no recipes at all -->
                        {% if not profile.create.all %} 
                            There are no recipes to display.
                        <!-- there are [deleted] recipes -->
                        {% elif allCreatedDeleted %}
                            There are no recipes to display.
                        {% else %}
                        <table>
                            <tbody>
                                {% for recipe in profile.create.all %}
                                <!-- if not recipe.forkedBy.title == "[deleted]" and not recipe.title == "[deleted]" -->
                                {% if not recipe.title == "[deleted]" %}
                                <tr>
                                    <td class="col-7">
                                        <a href="/recipes/{{ recipe.pk }}" class="text-decoration-none" style="color: rgb(100, 100, 100);">{{ recipe.title }}</a>
                                        
                                    </td>
                                    <td class="col-5">
                                        {% if recipe.get_avg_rating != 404 %}
                                            {{recipe.get_avg_rating|floatformat}}
                                            {% for i in "xxxxx" %}
                                                {% if forloop.counter0 < recipe.get_avg_rating|floatformat|parseInt %}
                                                ⭐
                                                {% endif %}
                                            {% endfor %}
                                            {% for i in "xxxxx" %}
                                                {% if forloop.counter0 < recipe.get_avg_rating|floatformat|parseIntFiveMinus %}
                                                &star;
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        
                        {% else %}
                        This feature is unavailable to guest users.
                        {% endif %}
                    </div>
                    <div id="favorite" class="tabcontent">
                        {% allDeleted profile.pk "favorite" as allFavoritedDeleted %}
                        <!-- {{ allFavoritedDeleted }}
                        {{ profile.favorites.all }} -->
                        <!-- no recipes at all -->
                        {% if not profile.favorites.all %} 
                            There are no recipes to display.
                        <!-- there are [deleted] recipes -->
                        {% elif allFavoritedDeleted %}
                            There are no recipes to display..
                        {% else %}
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Recipe</th>
                                    <th scope="col">Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for favorite in profile.favorites.all %}
                                <tr>
                                    <td>
                                        <a href="/recipes/{{ favorite.pk }}" class="text-decoration-none" style="color: rgb(100, 100, 100);">{{ favorite.title }}</a>
                                        {% if favorite.get_avg_rating != 404 %}
                                            {{favorite.get_avg_rating|floatformat}}
                                            {% for i in "xxxxx" %}
                                                {% if forloop.counter0 < favorite.get_avg_rating|floatformat|parseInt %}
                                                ⭐
                                                {% endif %}
                                            {% endfor %}
                                            {% for i in "xxxxx" %}
                                                {% if forloop.counter0 < favorite.get_avg_rating|floatformat|parseIntFiveMinus %}
                                                &star;
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="/user/{{ favorite.createdBy.pk }}" class="text-decoration-none" style="color: rgb(100, 100, 100);">{{ favorite.createdBy }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <div id="following" class="tabcontent">
                        {% if not profile.following.all %}
                            There are no following users to display.
                        {% else %}
                        <table class="table table-borderless">
                            <tbody>
                                {% for following in profile.following.all %}
                                <tr>
                                    <td><a href="/user/{{ following.pk }}"  class="text-decoration-none" style="color: rgb(100, 100, 100);">{{ following.name }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <div id="followers" class="tabcontent">
                        {% if not profile.followers.all %}
                            There are no followers to display.
                        {% else %}
                        <table class="table table-borderless">
                            <tbody>
                                {% for follower in profile.followers.all %}
                                <tr>
                                    <td><a href="/user/{{ follower.pk }}"  class="text-decoration-none" style="color: rgb(100, 100, 100);">{{ follower.name }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>


                    <br>



                </div>
            </div>
        </div>

    </div>
</body>
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Word of Mouth</h5>
                <p>
                    Where cooking becomes your cup of tea!
                </p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Authored by:</h5>
                <p>
                    Thumay Huynh, Alex Pfoser, Rishi Mukherjee, Alex Taing, Lilian Zhang
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white">CS 3240: Group A-21</a>
    </div>
    <!-- Copyright -->
</footer>
<style>
    .h1{
        font-family: "Encode Sans", sans-serif;
    }
    .tablinks {
        min-height: 80px;
        
        background-color: #925f5d;
        font-family: "Encode Sans", sans-serif;
    }
    .tablinks:hover {
        background-color: #694341;
        font-family: "Encode Sans", sans-serif;
    }

    .bg-img {
        /* background-color: #802724; */
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("{% static 'recipes/homeBack.jpg'%}");
        background-attachment: fixed;
        min-height: 70%;
        /* max-width: 100%; */
    }

    .trans {
        opacity: 0.9;
    }

    .div1 {
        margin: auto;
        width: 50%;
        border: 2px solid gray;
        padding: 10px;
        text-align: center;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        background-color: #e8ddcf;
        min-height: 80%;
    }

    .btn-follow {
        width: 30%;
        margin-top: -2%;
        margin-bottom: -5%;
    }
</style>
<script>
    // basic open to begin with
    tabs = document.getElementsByClassName("tabcontent");
    Array.prototype.forEach.call(tabs, function(tab){
        tab.style.display = "none";
    });

    startTabButton = document.getElementsByClassName("active"); // only one active
    startTabButton[0].click() // activates appropriate openTab()

    function openTab(event, tabID) {
        tabs = document.getElementsByClassName("tabcontent");
        Array.prototype.forEach.call(tabs, function(tab){
            tab.style.display = (tab.id == tabID) ? "block" : "none";
            if(tab.id != tabID) {
                tab.className = tab.className.replace(" active", "");
            }
        });
        event.currentTarget.className += " active";

        document.getElementById("tab-title").innerHTML = event.currentTarget.innerHTML;
    }
    // Citation of <How TO - Tabs> at top of file
</script>

</html>