{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        <meta>
        <title>User</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand ml-1">User Profile Page</div>
                    <div class="nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/recipes/">Recipes</a>
                        <a class="nav-link active" href="#">User Profile</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <h1>User Profile Page</h1>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>Name: {{ object.name }}</p>
                    <p>Email: {{ object.email }}</p>
                    <p>Cooking experience: {{ object.cooking_experience }}</p>
                </div>
                <div class="col-4 border">
                    <h3>Following</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for following in object.following.all %}
                            <tr>
                                <td>{{ following.name }}</td>
                                <td>{{ following.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
            </div>
            
        </div>
    </body>
</html>